/* body {
  background-color: cadetblue;
  color: red;
  color: rgba(255, 0, 0, 0.7);
  color: #ff0000;
} */

body {
  font-family: Arial, Helvetica, sans-serif;
}
h1,
h2,
h3,
h4,
h5,
p,
ul,
ol,
blockquote {
  width: 700px;
  margin: 0 auto;
}
img {
  margin: 0 auto;
  width: 1200px;
  display: block;
}

h1,
h2,
h3,
h4 {
  font-weight: bold;
}
h1 {
  font-size: 38px;
  line-height: 45px;
  margin-top: 50px;
}
h2 {
  font-size: 32px;
  line-height: 36px;
  margin-top: 42px;
}
h3 {
  font-size: 28px;
  line-height: 34px;
  margin-top: 36px;
}
h4 {
  font-size: 24px;
  line-height: 30px;
  margin-top: 30px;
}
h5 {
  font-size: 20px;
  line-height: 28px;
  margin-top: 28px;
}
p,
a,
li,
blockquote {
  font-size: 20px;
  line-height: 34px;
}
p,
ol,
ul,
blockquote {
  margin-top: 24px;
}
h1 + p {
  color: #aaa;
}
a {
  color: #777;
}
